<!doctype html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    button{
       background-color: rgb(78, 15, 129);
       border: none;
       color: white;
       padding: 12px 30px;
       cursor: pointer;
       font-size: 30px;
       font-weight: bolder;
       font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
       
    }
    button:hover{
       background-color: rgb(42, 7, 82);
    }
    h1{
       text-align: center;
    }
  </style>
  </head>
  <title>Download File</title>
  <h1>Download File</h1>
  <body class="body">
     <div class="container" align="left">
      <a href="/return-files/{{value}}" target="blank"><button class='btn btn-default' style="text-align: center; width: 99%;"><i class="fa fa-download">Download</i></button></a>
     </div>
    

  </body>
</html>